<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
<%= render "posts/next_page" %>
<%#= link_to "New post", new_post_path %>
<%# @pagy.next %>
<%# pagy_url_for(@pagy, @pagy.next) %>
<%#link_to"posts-page-#{@pagy.next}", loading: :lazy ,src: pagy_url_for(@pagy, @pagy.next), data:{turbo_frame: "posts-page-#{@pagy.next}"}%>
